{% extends 'main/base.html' %}

{% block heading%}
    <title>MP3 clone</title>
    <style>
        .hidden-player {

            position :absolute;
            left: 99999px;
        }

        .play-button {
            padding: 10px 20px;
            background-color: green;
            color: white;
            border: none;
            margin-bottom: 20px;
        }

        .song-list {
            margin-top: 20px;
            display:grid;
            place-items: center;
            
        }

        html, body {
            overflow-x: hidden;
            touch-action: pan-y;
        }

    </style>
{% endblock %}
{% block body %}
    <div class="song-list">
        {% for song in songs %}
        <h3>{{song.title}}</h3>
        <a href="?play={{song.id}}"> <!--go to path('' , views.py , name='index')-->
            <button class="play-button">Play</button>
        </a>
        
       <img style="width: 200px;" src="{{ song.cover_image.url }}" alt="">
       <form method ="post">
        {% csrf_token %}
        <input type="hidden" name="song_id" value="{{song.id}}">
        <select name="playlist_id" required > <!--drop down menu-->
            <option value="" selected disabled>Select Playlist</option>
            {% for playlist in playlists %}
                <option value="{{playlist.id}}">{{playlist.name}}</option>
            {% endfor %}
        </select>
        <button type="submit">Add to Playlist</button>
       </form>

      
    {% endfor %}
    </div>
    

    {% if play_song %}
        <iframe class="hidden-player" src="{{ play_song.yt_link_modify }}" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    {% endif %}

{% endblock%}