{% extends 'main/base.html' %}
{% block heading %}
    <title>{{ playlist.name }}</title>
    <style>
        .hidden-player {

            position :absolute;
            left: 99999px;
        }

        .play-button {
            padding: 10px 20px;
            background-color: green;
            color: white;
            border: none;
            margin-bottom: 20px;
        }

        .song-list {
            margin-top: 20px;
            display:grid;
            place-items: center;
            
        }

    </style>
{% endblock %}

{% block body %}
    
    <h2>Playlist: {{ playlist.name }}</h2>

    <form method = "GET">
        <input type = "hidden"  name="play" value="{% if play_song %}{{play_song.id}}{% endif %}" >
        <input type = "hidden"  name="shuffle" value="{% if shuffle %}false{% else %}true{% endif %}" >
        <button type = "submit">
            {% if shuffle %} Disable Shuffle {% else %} Enable Shuffle {% endif %}
        </button>
    </form>

    <h3>Songs</h3>
    <ul>
        {% for song in playlist.song.all %}
         <li>{{song.title}}--{{song.artist}}</li>
         <a href="?play={{song.id}}"> <!--go to path('view...' , views.py , name='index')-->
            <button class="play-button">Play</button>
        </a>
        {% endfor %}
    </ul>

    {% if play_song %}
        <iframe id="ytplayer" class="hidden-player" src="{{ play_song.yt_link_modify }}" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p>Now Playing: {{play_song.title}} - {{play_song.artist}}</p>
        {% if next_song %}
        <a id="nextSongBtn" href="?play={{next_song.id}}"> <!--go to path('' , views.py , name='index')-->
            <button class="play-button">{{next_song.title}} - {{next_song.artist}}</button>
        </a>
        {% endif %}
    {%else%}
        <p>Click the Button now!</p>
            
    {% endif %}
    
    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
        var player;
    
        function onYouTubeIframeAPIReady() {
            console.log("Initializing YouTube player...");
            player = new YT.Player('ytplayer', {
                events: {
                    'onStateChange': onPlayerStateChange
                }
            });
        }
    
        function onPlayerStateChange(event) {
            console.log("Player state changed: " + event.data);
            if (event.data === YT.PlayerState.ENDED) {
                // Automatically go to the next song
                const nextBtn = document.getElementById("nextSongBtn");
                if (nextBtn) {
                    nextBtn.click(); // simulate a button click
                } else{
                    console.log("Next song button not found.");
                }
            }
        }
    
    </script>
    
{% endblock %}
